<h1>
  this is our language index page
</h1>

<% @languages.each do |language| %>
  <li>
   <%= language.name %> 
   <%= link_to "Show", language_path(language) %>
   <%= link_to "edit", edit_language_path(language) %>
    <%= button_to "Destroy", language, method: :delete %>
  </li>
<% end %>
