<nav class="navbar">
  <div class="navbar-logo">
    <img src="https://robohash.org/sitsequiquia.png?size=300x300&set=set1" alt="Logo" class="nav-logo">
  </div>
  <ul class="navbar-links">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
</nav>
