<div id="<%= dom_id section %>">
  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= section.description %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= section.course_id %>
  </p>

</div>
